<h1>Job Folders</h1>

<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<div class="button">
  <a  href="<%= ENV['SUB_DIR'] %>/new">Create Folder</a>
</div>

<div class="content">
  <div class="job-folders-container">
    <% @job_folders.each do |job_folder| %>
      <div class="job-folder">
        <%= job_folder %>
      </div>
    <% end %>
  </div>
</div>
