<h1>Job Folders</h1>

<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<div>
  <a href="<%= ENV['SUB_DIR'] %>/new">Add New Job Folder</a>
</div>

<% @job_folders.each do |job_folder| %>
  <ul>
    <li><%= job_folder %></li>
  </ul>
<% end %>
