<h1>Create New Job Folder</h1>


<div class="content">
  <div class="form">
    <h2>Create New Job Folder</h2>
    <form method="POST" action="<%= ENV['SUB_DIR'] %>/job-folders">
      <label>Folder name:</label>
      <input
        class="field"
        type="text"
        name="folder_name"
        title="letters and numbers only with at least one undercore (no spaces)"
        maxlength="96"
        pattern="(?!.*__.*)[a-zA-Z0-9]+_[a-zA-Z0-9_]+[a-zA-Z0-9]"
        required
        autocomplete="off"/>
      <div class="button">
        <input type="submit" value="Create Folder" />
      </div>
    </form>
  </div>
</div>
