<h1>Create a new Job Folder</h1>

<form method="POST" action="<%= ENV['SUB_DIR'] %>/job-folders">
  <label>Folder name:</label>
  <input
    type="text"
    name="folder_name"
    title="letters and numbers only with at least one undercore (no spaces)"
    maxlength="96"
    pattern="(?!.*__.*)[a-zA-Z0-9]+_[a-zA-Z0-9_]+[a-zA-Z0-9]"
    required />
  <input type="submit" value="Create Folder" />
</form>
